<div class="container text-center vh-90">

  <div id="guestst" class="row pt-3">
    <% if (req.session.user){ %>
      <% for (let guest of guests) { %>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
          <div class="card rentalCards p-2 mt-2 mb-2">
            <a class="fas fa-times-circle text-danger align-self-end mr-2" name="id" role="button"
               href="/deleteguests/<%- guest.id %>"></a>
            <div class="card-body p-0">
              <h5 class="pb-2 text-center border-bottom border-success"><%- guest.fullName %> </h5>
              <div class="row">
                <div class="col-7">
                  <p class="border-bottom border-dark">Ciudad: </p>
                  <p class="border-bottom border-dark">Cantidad de personas: </p>
                  <p class="border-bottom border-dark">Patente: </p>
                </div>
                <div class="col-5 font-weight-bold d-flex flex-column align-items-start pl-0">
                  <p><%- guest.city %></p>
                  <p><%- guest.members %></p><br>
                  <p><%- guest.licensePlate %></p>

                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    <% } else { %>
  </div>
  <div class="pt-2 mt-5 w-100">
    <h2 class="pb-5">Inicia sesión para explorar</h2>
    <a href="/login" type="submit" class="btn btn-dark btn-lg pt-2">Iniciar Sesión</a>
  </div>
  <% } %>
</div>
