<div class="container vh-90">
    <div class="row pt-3">
        <% for (let reservation of reservations) { %>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
                <div class="card rentalCards p-2 mt-2 mb-2">
                    <a class="fas fa-times-circle text-danger align-self-end mr-2" name="id" role="button"
                       href="/deleteReservation/<%- reservation.id %>"></a>
                    <div class="card-body p-0">
                        <h5 class="pb-2 text-center border-bottom border-success"><%- reservation.customer.fullName %> </h5>
                        <div class="row">
                            <div class="col-7">
                                <p class="border-bottom border-dark">Desde: </p><br>
                                <p class="border-bottom border-dark">Hasta: </p><br>
                                <p class="border-bottom border-dark">Forma de pago: </p>
                                <p class="border-bottom border-dark">Valor por día: </p>
                                <p class="border-bottom border-dark">Valor total: </p>
                                <p class="border-bottom border-dark">Seña 20%: </p>
                            </div>
                            <div class="col-5 font-weight-bold d-flex flex-column align-items-start pl-0">
                                <p><%- reservation.initialDate.split('T')[0] %></p>
                                <p><%- reservation.finalDate.split('T')[0] %></p>
                                <p><%- reservation.paymentMethod %></p>
                                <p><%- reservation.valuePerDay %></p>
                                <p><%- reservation.totalValue %></p>
                                <p><%- reservation.downPayment %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>

