<div class="container text-center vh-90">

  <div id="guestst" class="row pt-3">
    <% if (req.session.user){ %>
      <% for (let guest of guests) { %>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-3 d-flex justify-content-center">
          <div class="card homeCards my-2 p-2">
            <a class="fas faz-times-circle text-danger align-self-end" role="button"
               href="/deleteguests/<%- guest.id %>"></a>
            <h2><%- guest.fullName %> </h2>
            <h3><%- guest.city %> </h3>
            <h3><%- guest.members %> </h3>
            <h3><%- guest.licensePlate %> </h3>

            <div class="card-body align-middle d-flex flex-column align-items-center">



            </div>
          </div>
        </div>
      <% } %>
    <% } else { %>
  </div>
  <div class="pt-2 mt-5 w-100">
    <h2 class="pb-5">Inicia sesión para explorar</h2>
    <a href="/login" type="submit" class="btn btn-dark btn-lg pt-2">Iniciar Sesión</a>
  </div>
  <% } %>
</div>
